[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
isort = "*"
black = "*"
flake8 = "*"
mypy = "*"
types-requests = "*"

[requires]
python_version = "3.12"
